/* themes variables */
.theme-light{
	--bg-primary: #F4F6F8;
	--bg-secondary: #FFFFFF;
	--color-primary: #222222;
	--border-color: #C1C1C1;
	--shadow: #f4f6f8d0;
}
.theme-dark{
	--bg-primary: #1B1B1B;
	--bg-secondary: #353535;
	--color-primary: #D9D9D9;
	--border-color: #000000;
	--shadow: #1b1b1bc9;
}
/* ---------------------------- */


/* light-dark switch */
/* ----------------------------- */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 0 10px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* ============================ */


/* reset default styles */
/* --------------------------- */
*{
	box-sizing: border-box;
	font-size: 18px;
}
body{
	margin: 0;
	font-family: sans-serif;
	background-color: var(--bg-primary);
	color: var(--color-primary);
}

a{
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}
a:hover{
	color: goldenrod;
	cursor: pointer;
}

h1{
	font-size: 1.25rem;
	margin: 0;
	padding: 20px 0 20px 0;
}
h2{
	font-size: 1.15rem;
	margin: 0;
	padding: 15px 0;
}
/* =========================== */


/* header & footer */
header.main-header, footer.main-footer{
	width: 100%;
	padding: 15px;
	background-color: var(--bg-secondary);
}

/* topbar */
/* ---------------------------- */
header.main-header{
	display: flex;
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 1000;
}
.website-logo{
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* mobile menu toggle */
.menu-toggle{
	flex: 1;
	min-height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.hamburger-bar{
	background-color: var(--color-primary);
	width: 30px;
	height: 5px;
	transition: transform .5s;
}
.menu-toggle.open .top{
	transform:
	rotate(45deg)
	translate(8px, 9px);
}
.menu-toggle.open .middle{
	transform: scaleX(0);
}
.menu-toggle.open .bottom{
	transform:
	rotate(-45deg)
	translate(9px, -9px)
}

.website-menu{
	background-color: inherit;
	border-top: 1px solid var(--border-color);
	position: fixed;
	width: 100%;
	height: calc(100vh - 61px);
	top: 61px;
	right: 0;
	transition: transform .5s;
	transform: translateX(100%);
}
.website-menu.open{
	transform: translateX(0);
}

.theme-switch{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* actual menu */
ul.menu{
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 200%;
}
ul.sub-menu{
	background-color: var(--bg-primary);
	display: none;
}
li.menu-item:hover ul.sub-menu{
	display: block !important;
}
li.menu-item{
	border-bottom: 1px solid var(--border-color);
	padding: 10px 0 0 0;
}
li.sub-menu-item{
	padding-left: 20px;
}

/* ============================= */

/* login form */
/* ----------------------------- */
input{
	border: none;
	background-color: var(--bg-secondary);
	color: var(--color-primary);
}
input:focus {
	outline: none;
}

.login-form{
	max-width: 400px;
	margin: 30px auto;
	padding: 5px;
	width: 100%;
}
.login-form-input{
	width: 100%;
	margin: 5px 0;
	padding: 5px;
	border-radius: 10px;
	background-color: var(--bg-primary);
}
.login-popup{
	display: none;
}
#open-form{
	display: none;
}
/* ============================= */

/* register form */
/* ----------------------------- */
form.register-form{
	border-top: 1px groove var(--color-primary);
	padding: 5px;
}
.register-input-row{
	margin-bottom: 20px;
}
.register-input-row *{
	display: inline-block;
}
.register-input-row label{
	width: 200px;
}
input.register-input{
	padding: 5px;
}
.error{
	color: red;
}
input.register-submit{
	border: 2px solid var(--color-primary);
	padding: 7px;
	margin: 25px 0 0 0;
}
@media (max-width: 450px){
	input.register-input{
		width: 100%;
	}
}
/* ============================= */

/* message */
/* ---------------------------- */
.messages{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: calc(100% - 20px);
}
.message{
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-secondary);
	margin-bottom: 10px;
}
@media (min-width: 720px){
	.messages{
		max-width: 400px;
	}
}
/* ============================ */


/* page content */
/* ----------------------------- */
main.page-content{
	min-height: 100vh;
}
.container{
	max-width: 900px;
	margin: 0 auto;
}
section{
	padding: 20px 0;
}
/* ============================= */


/* homepage slider */
/* ---------------------------- */
section.recommended{
	border-bottom: 2px solid var(--color-primary);
	padding: 50px 0;
}
#my-slider{
	width: 100%;
	height: calc(100vw / 2);
}
@media (min-width: 900px){
	#my-slider{
		width: 100%;
		height: calc(900px / 2);
	}
}
.slide{
	position: relative;
}
img.slide-img{
	width: 100%;
	height: 100%;
}
.slide-caption{
	padding: 15px;
	width: 100%;
	bottom: 0;
	transform: translateY(-100%);
	color: white;
	text-shadow: 0px 0px 4px #000000;
	box-shadow: inset 0px -100px 35px -35px rgba(60, 60, 60, 0.9);
}

h1.recommended-header{
	text-align: center;
}
.author{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: .85rem;
}
.cat-btn{
	background-color: var(--bg-secondary);
	color: var(--color-primary);
	padding: 7px;
	border-radius: 5px;
	width: fit-content;
	font-size: .8rem;
}

/* pagination */
.slider-pagination{
	text-align: center;
}
.slider-pag{
	display: inline-block;
	font-size: 3rem;
	padding: 0 15px;
}
.slider-pag:hover{
	cursor: pointer;
}
/* ============================= */

/* newest articles */
/* ----------------------------- */
.newest-grid{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-auto-rows: 1fr;
	gap: 20px;
}
article.article-excerpt{
	position: relative;
	height: auto;
	color: white;
}
img.article-excerpt-img{
	width: 100%;
	aspect-ratio: 16/9;
}
.caption-hider{
	overflow-y: hidden;
	width: 100%;
	height: 100%;
	background-color: var(--bg-primary);
}
.article-excerpt-caption{
	position: absolute;
	padding: 7px;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background-color: rgba(60, 60, 60, 0.6);
	transition: opacity .35s;
	opacity: 0
}
article.article-excerpt:hover .article-excerpt-caption{
	opacity: 1;
}
a.more-newest-btn{
	display: block;
	width: fit-content;
	margin: 30px auto 0;
	padding: 10px;
	background-color: var(--bg-secondary);
	border: 2px solid var(--color-primary);
}
a.more-newest-btn:hover{
	border-color: goldenrod;
}
a.pag-nav{
	display: inline-block;
}
.newest-pagination{
	text-align: center;
	margin: 50px 20px;
	font-size: 1.2rem;
	word-spacing: 20px;
}
input#page-number{
	border: none;
	text-align: center;
	background-color: var(--bg-secondary);
}
@media (max-width: 600px) {
	.newest-grid{
		grid-template-columns: repeat(1,1fr);
	}
}
/* ============================= */

/* Add article */
/* ----------------------------- */
form#add-article-form{
	padding: 5px;
}
.editor-toolbar{
	background-color: #F4F6F8;
}
.editor-toolbar button{
	color: #222222;
}
input.add-article-input{
	display: block;
	width: 100%;
	margin: 15px 0;
}
.add-input-row{
	margin: 15px 0;
}
.add-input-row input{
	width: 100%;
	padding: 7px;
	border-radius: 15px;
}
/* ============================= */

/* Single view */
/* ----------------------------- */
#article-content img, img.single-image{
	width: 100%;
	height: auto;
}
.single-info{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px groove var(--color-primary);
	padding-bottom: 10px;
}
.single-date{
	text-align: right;
}

.single-comment {
	border-bottom: 1px groove var(--color-primary);
	margin-bottom: 10px;
}

.comment-content {
	padding: 15px;
}

/* ============================= */

/* desktop */
/* ----------------------------- */
@media (min-width: 900px) {
	.website-logo{
		flex: 1;
	}
	.menu-toggle{
		display: none;
	}
	.website-menu{
		position: static;
		width: auto;
		transform: none;
		height: auto;
		border: none;
		flex: 4;
		display: flex;
	}
	.theme-switch{
		flex: 1;
	}
	nav.main-nav{
		flex: 3;
	}

	ul.main-menu{
		display: flex;
		justify-content: flex-end;
	}
	ul.sub-menu{
		padding: 10px;
		position: absolute;
		background-color: var(--bg-secondary);
		border: 2px solid var(--border-color);
		border-radius: 5px;
	}
	li.menu-item{
		border-bottom: none;
		padding: 0 10px;
		position: relative;
	}
	li.sub-menu-item{
		padding-left: 0;
	}


	/* login form */
	.form-moblie{
		display: none;
	}
	.login-popup{
		display: none;
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: var(--shadow);
		justify-content: center;
		align-items: center;
	}
	.login-popup.open{
		display: flex;
	}
	.login-form{
		background-color: var(--bg-secondary);
		padding: 0 15px 15px;
		border-radius: 15px;
	}
	header.login-form-header{
		position: relative;
	}
	i#close-form{
		position: absolute;
		right: 0;
		top: 10px;
		font-size: 1.5rem;
	}
	#open-form{
		display: list-item;
	}
}
/* ============================= */
